



.section {
  background-color: $blackish;
  color: $white;

  &:nth-child(even) {
    background-color: $base;
  }
}

  .section-title {
    width: 100%;
    text-align: center;

    &.mod-slide-title {
      position: absolute;
      top: 80px;
    }
  }

  .section-tagline {
    width: 100%;
    text-align: center;

    &.mod-slide-tagline {
      position: absolute;
      top: 150px;
    }
  }

  .section-journey {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -75px;
    height: 150px;
    width: 150px;
    margin-top: -50px;
    background-color: $black;
    text-align: center;
    line-height: 150px;
    border-radius: 50%;
    z-index: 2;
    @include transition(top 1.2s, background-color 1.4s);
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    cursor: pointer;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    &:hover {
      background-color: $base;
    }

    &.mod-blue {
      background-color: $base;

      &:hover {
        background-color: $black;
      }
    }
  }

  .slide {
    padding: 0 60px;
  }

  .single-page {

  background-color: $black;
  color: $white;

}


  .centred-div {
    width: 100%;
    position: absolute;
    
    top: 25%;
    margin-top: -50px;
    padding: 15px;



  }

  .padded-img {
    width: 75%;
    
  }

  .section1 {
    background-image: url("../assets/circuit9.jpg");
    background-size: cover;
    background-position: center;
  }

  .nomobile {
    @include media( $mobile ) {
        display: none !important;
    }
  }

  .smallmobile {
    @include media( $mobile ) {
        font-size: 1.5em
    }
  }

  .bignumber {
    font-family: 'Paytone One';
    font-size: 5em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 26px;
  }
