.tiles {
  @include outer-container;
  padding: 0 20px;
}

  .tile {
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 8px;
    border-radius: 5px;
    @include transition(background-color .6s);
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
    color: $white;

    &:hover {
      background-color: $base;
    }

    &.mod-4 {
      @include span-columns(4);

      @include media($small-tablet-down) {
        @include span-columns(8);
      }
    }
  }

    .tile-title {
      border-bottom: $base 2px solid;

      @include media($small-tablet-down) {
        border-bottom: 0;
      }
    }